html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#64B5F6, #BBDEFB);
}

div {
  font-family: monospace;
  font-weight: normal;
  font-size: 3em;
  color: #616161;
}
